/* Estilo geral do corpo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilo para o conteúdo da página */
#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilização para o título */
h1, h2 {
    color: #444;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para o relatório de compras */
#account-details p {
    font-size: 18px;
    margin: 5px 0;
}

#account-details ul {
    list-style-type: none;
    padding: 0;
}

#account-details ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#account-details ul li span {
    font-weight: bold;
}

/* Estilo para a navegação */
nav {
    background-color: #333;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Responsividade */
@media (max-width: 768px) {
    #content {
        padding: 15px;
    }

    .menu {
        flex-direction: column;
    }
}
